{{template "base" .}}
{{define "content"}}
<header>
    <h1>Welcome to My New App!</h1>
</header>
<section>
    <h2>About the App</h2>
    <p>This app is designed to simplify your daily tasks and boost productivity.</p>
    <img src="/static/house1.jpg" height="700" width="700">
</section>
<footer>
    <p>&copy; 2023 My New App. All rights reserved.</p>
</footer>

{{end}}